<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>friend0.png</string>
		<key>friendName</key>
		<string>Rahul</string>
		<key>isOlaFriend</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend1.png</string>
		<key>friendName</key>
		<string>Parthibhan</string>
		<key>isOlaFriend</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend2.png</string>
		<key>friendName</key>
		<string>Devansh</string>
		<key>isOlaFriend</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend3.png</string>
		<key>friendName</key>
		<string>Amy</string>
		<key>isOlaFriend</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend4.png</string>
		<key>friendName</key>
		<string>Anne</string>
		<key>isOlaFriend</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend5.png</string>
		<key>friendName</key>
		<string>Tom</string>
		<key>isOlaFriend</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend6.png</string>
		<key>friendName</key>
		<string>Jessica </string>
		<key>isOlaFriend</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend7.png</string>
		<key>friendName</key>
		<string>Kevin</string>
		<key>isOlaFriend</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend8.png</string>
		<key>friendName</key>
		<string>Leo</string>
		<key>isOlaFriend</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>friend9.png</string>
		<key>friendName</key>
		<string>James</string>
		<key>isOlaFriend</key>
		<false/>
	</dict>
</array>
</plist>
